<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="email.css">

</head>

<style>


.outter-email{ 
    color: #97C0E2;
    background-color: #00273F;
    width: 90%;
    margin:0 auto;
    background-color: #D2D0D0;   
    /* padding: 5%; */
}
.standard-color{
    background-color: #00273F;
}
    .body-email {
        width: 80%;
        height: auto;
        background-color: #ffffff;
    }
    .header-email {
        width:100%;
        text-align: center; 
        vertical-align: middle;
        height: 50px;   
    }
    .content-email {
        font-weight: bold;
        font-family: Roboto, sans-serif;
        font-size: 1.2em;
        text-align: center; 
        vertical-align: middle;
        width: 100%;
        
    }
    .content-email *{
        background-color: #ffffff;
    }
    .first-text{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .content-text{
        text-align: left !important;
    }
    .content-email p {
        text-align: center;
        margin: 0 auto;
        width: 90%;
        padding-bottom: 5%;
    }

    .content-email span {
        text-decoration: underline;
    }
    .footer-email {
        height: 90px;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        text-align: center;
    }

</style>

<body>
    <table cellspacing="0" cellpadding="0" class="outter-email" style="color: #97C0E2;background-color: #D2D0D0;width: 90%;margin: 0 auto;">
        <tbody class="body-email" style="width: 80%;height: auto;background-color: #ffffff;">
            <tr class="header-email standard-color" style="background-color: #00273F;width: 100%;text-align: center;vertical-align: middle;height: 50px;">
                {{!-- <td><img src="cid:logo" alt="Logo REDE MENTORES"></td> --}}
            </tr>
            <tr class="content-email" style="font-weight: bold;font-family: Roboto, sans-serif;font-size: 1.2em;text-align: center;vertical-align: middle;width: 100%;">
                <td style="background-color: #ffffff;">
                    <p class="first-text" style="background-color: #ffffff;padding-top: 5%;padding-bottom: 5%;text-align: center;margin: 0 auto;width: 90%;">
                        Caro {{mentor}},
                    </p>
                    <p class="content-text" style="background-color: #ffffff;text-align: left !important;margin: 0 auto;width: 90%;padding-bottom: 5%;">
                        MORFAR
                    </p>
                </td>
            </tr>
            <tr class="footer-email standard-color" style="background-color: #00273F;height: 90px;font-weight: bold;font-family: Roboto, sans-serif;text-align: center;">
                <td>
                    Rede de Mentores ®
                </td>
            </tr>
            <tr class="footer-email standard-color" style="background-color: #00273F;height: 90px;font-weight: bold;font-family: Roboto, sans-serif;text-align: center;">
                <td>
                    PUCRS - PRÉDIO 32
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>